.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  font-family: "Noto Sans", sans-serif;
  background-color: rgba(25, 25, 25, 0.7);
}

.modal-wrapper {
  position: relative;
  max-width: 304px;
  width: 100%;
  padding: 17px;
  background:  #f5f5f5;
  color:#5e6c84;
  border-radius: 5px;
}

.modal-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(94, 108, 132, 0.4);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border: 0;
  border-radius: 50%;
  background: transparent;
  color: #5e6c84;
  cursor: pointer;
}

.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.modal-board-preview {
  width: 210px;
  height: 125px;
  border-radius: 3px;
  background-image: url('https://images.unsplash.com/photo-1675025844397-9819eb7091ff?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=Mnw3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjc1NjAyNjU3&ixlib=rb-4.0.3&q=80&w=400');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.modal-inner {
  width: 210px;
  height: 125px;
  background-image: url('../../../assets/preview.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.preview-title, .input-title {
  font-weight: 600;
  font-size: 16px;
}

.preview-title {
  margin-bottom: 5px;
}

.modal-list-top, .modal-list-bottom {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.modal-list-bottom {
  margin-top: 10px;
}

.modal-list-top .list-item {
  height: 40px;
}

.modal-list-top .list-item button {
  width: 64px;
  height: 40px;
  position: relative;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.modal-list-bottom .list-item button {
  width: 40px;
  height: 32px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-list-bottom:last-child .list-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#e2e2e2;
}

.dots {
  height: 25px;
}

.tick {
  color: #fff;
}

.tick::before {
  content: "\2713";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  padding-top: 9px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form .input-label {
  position: relative;
  font-size: 22px;
}

.input-title {
  display: inline-block;
  margin-top: 20px;
}

.star {
  color: #ff0000;
}

.text-input {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border: 1px solid #5e6c84;
  border-radius: 3px;
  padding-bottom: 5px;
  margin: 5px 0 15px;
  font-size: 18px;
}

.text-input::placeholder{
  color: #5e6c84;
  font-size: 14px;
  padding-left: 7px;
}

.submit-button {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  width: 100%;
  height: 34px;
  color:#fff;
  background: #0079bf;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  background: #fdbdbd;
}

.submit-button:disabled {
  background-color: #b3d5e8;
  pointer-events: none;
}

.modal-text {
  margin-top: 10px;
  text-align: left;
  font-size: 13px;
}

.modal-text a {
  color: #5e6c84;
}
